html {
  color: white;
  background-color: black;
}

.row {
  display: flex;
  justify-content: space-around;
}

section {
  flex: 1;
  max-width: 40%;
  position: relative;
}

h3 {
  position: absolute;
  left: 0.5em;
}

.buttons {
  border: thin solid;
  padding-bottom: 1.2em;
  display: flex;
  flex-direction: column;
}

@keyframes flash {
  from  { background-color: white; }
  to  { background-color: rgba(0, 0, 0, 0); }
}

.flash.buttons {
  animation-name: flash;
  animation-duration: 1s;
}

.active {
  color: black;
  background-color: white;
}

.button {
  padding: 0.5em;
  border-radius: 0.5em;
  position: relative;
}

.button::before {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: inline-block;
  content: ' ';
  color: black;
  padding: 0.2em;
  text-align: center;
}

.x {
  border-color: blue;
  order: 1;
  text-align: left;
  content: ' ';
}
.button.x::before {
  content: 'X';
  background-color: blue;
}

.y {
  border-color: orange;
  order: 0;
  text-align: center;
}
.button.y::before {
  content: 'Y';
  background-color: orange;
}

.b {
  border-color: red;
  order: 2;
  text-align: right;
}
.button.b::before {
  content: 'B';
  background-color: red;
}

#dummy {
  display: none;
}

@keyframes cooldown {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.cooldown {
  position: absolute;
  margin-top: 0.5em;
  left: -0.25em;
  width: 0;
  height: 1em;
  background-color: red;
  animation-name: cooldown;
  animation-timing-function: linear;
}

