html
  head
    link(rel="stylesheet" type="text/css" href="index.css")
    script(type="text/javascript" src="index.js")
  body
    #dummy
    .row
      section.y
        h3 Fire
        .buttons.y
          .button.x Dodge
          .button.y Ball
          .button.b Mortar
    .row
      section.x
        h3 Freeze
        .buttons.x
          .button.x Laser
          .button.y Achoo
          .button.b Stasis
      section.b
        h3 Lightning
        .buttons.b
          .button.x Chain
          .button.y Blast
          .button.b Shield

