html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  user-select: none;
  cursor: pointer;
  color: white;
}

.row {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

#books {
  display: flex;
}

.book {
  color: gray;
  background-color: rgba(0, 0, 0, 0.7);
  border: thin solid white;
  padding: 0.2em;
  margin: 0.2em;
}

.book.current {
  color: white;
  background-color: rgba(0.2, 0.2, 0.2, 0.7);
}

section {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 40%;
  position: relative;
}

h3 {
  margin: 0.25em;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: thin solid;
  padding-bottom: 1.2em;
  background-color: rgba(0, 0, 0, 0.7);
}

@keyframes flash {
  from  { background-color: white; }
  to  { background-color: rgba(0, 0, 0, 0); }
}

.flash.buttons {
  animation-name: flash;
  animation-duration: 1s;
}

.active {
  color: black;
  background-color: white;
}

.button {
  padding: 0.5em;
  border-radius: 0.5em;
  position: relative;
}

.button::before {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: inline-block;
  content: ' ';
  color: black;
  padding: 0.2em;
  text-align: center;
}

.x {
  border-color: blue;
  order: 1;
  text-align: left;
  content: ' ';
}
.button.x::before {
  content: 'X';
  background-color: blue;
}

.y {
  border-color: orange;
  order: 0;
  text-align: center;
}
.button.y::before {
  content: 'Y';
  background-color: orange;
}

.b {
  border-color: red;
  order: 2;
  text-align: right;
}
.button.b::before {
  content: 'B';
  background-color: red;
}

#dummy {
  display: none;
}

@keyframes cooldown {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.cooldown {
  position: absolute;
  margin-top: 0.5em;
  left: -0.25em;
  width: 100%;
  height: 1em;
  border: thin solid red;
}

.cooldown .bar {
  height: 100%;
  width: 0;
  background-color: red;
  animation-name: cooldown;
  animation-timing-function: linear;
}

#instructions, #error {
  position: absolute;
  top: 50%;
  width: 90%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border: medium solid white;
}

#error {
  background-color: #640000;
  color: white;
  top: initial;
  bottom: 0;
}

